
.exam{
	width:100%;
	height:800px;
	display:inline-block;
	border-radius:10px;
	border-color: #c8c8c8;
	background-color: #ffffff;
}

.weixincode{
	height:200px !important;
	padding-top:0px !important;
	padding-left:10%;
}



.bulletin{
	border-radius:10px;
	height:800px;
	border-color:#c8c8c8; 
	background-color: #ffffff;	
	padding-left:0px !important;
	padding-right:0px !important;
}

.essential{
	margin-top: 30px;
	margin-left: 30px;
}

.panel-heading{
	background-color:#18bc9c;
	color:#ffffff;
}

.panel-body img{
	cursor: pointer;
	height: 72px;
	padding-top: 20px;
	margin-bottom:20px;
}

.cEssential{ 
	width: 80px;
	height: 72px;
	background-image: url(img/c.png);
}

.javaEssential{
	width: 80px;
	height: 72px;
	background-image: url(img/java.png);
}








