textarea{
	margin-top: 30px!important;	
	color:#000000!important;
	background-color: #ffffff!important;	
	border-width: 2px;
    border-style: solid; 
    border-color: #2fe2bf!important;
	border-radius :5px;
	
	
}

.optiontext{
	margin-top: 0 !important;
	width: 90%;
	border-style: none !important;
	resize:none;
	cursor: pointer;
		
}

.mainquiz{
	display:inline-block;
	border-radius:10px;
	border-color: #c8c8c8;
	background-color: #ffffff;	
	height:500px;
	width:100%;	
}



label input{
	cursor: pointer;
}

label #icon{
	
}

label #icon-to-fade{
	
}

.optionlabel{
/* 	height:50px; */
	cursor: pointer;
	border-width: 2px;
    border-style: solid; 
    border-color: #f2f2f2;
	border-radius :5px;
/* 	padding-top: 15px; */
	padding-left: 10% !important;
	padding-top: 2% !important;
	padding-bottom:0px !important;
}

label span{
 	margin-top: 3%; 
	margin-left: 2%;
}

.quizcontent{
	margin-top:30px;
	display:inline-block;
	border-radius:10px;
	border-color: #c8c8c8;
	background-color: #ffffff;	
	height:50%;
	width:100%;	
}

.quizname{
	margin-top: 30px;
	margin-left:10px;
	color:#009966;
}


.quizdesc{
	margin-top: 30px;
	margin-left:10px;
}

letsbegin{
	background-color: #009966;
	color:#ffffff;
}

.takequiz{
	border-radius:10px;
	border-color: #c8c8c8;
	background-color: #ffffff;	
	padding-bottom: 50px;
}


.quizarea{
	width:100%;/*�����ㄩ��搴���跺��灞�瀹藉害*/  
    overflow:auto;  
    word-break:break-all;  
}


.takequiz .lead{
	margin-top:30px;
	margin-left:30px;
}

.quizinfo{
	width:100%;
	height:300px;
	background-color: #ffffff;
}

.quizright{
	border-radius:10px;
	border-color:#c8c8c8; 
	width:200px;
	height:800px;
	background-color: #ffffff;		
}



.options{
	width:90%;
	height:100%;	
	margin-left:5%;
}

.options li{
	list-style: none;	
	padding-bottom: 5px;
	height: 15%;
}

button{
 	height:50px !important;

	
}