<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <!-- <filter>
  <filter-name>encodingFilter</filter-name>
  <filter-class>com.uunemo.filter.EncodingFilter</filter-class>
  <init-param>
   <param-name>encoding</param-name>
   <param-value>utf-8</param-value>
  </init-param>
 </filter>-->
 
 
 <!-- <filter-mapping>
  <filter-name>encodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>-->
 
 <!--2013.01.19 stop filter test shiro  begin -->
<!-- <filter>-->
<!--  <filter-name>checklogin</filter-name>-->
<!--  <filter-class>com.uunemo.filter.CheckLoginFilter</filter-class>-->
<!-- </filter>-->
<!-- <filter-mapping>-->
<!--  <filter-name>checklogin</filter-name>-->
<!--  <url-pattern>/*</url-pattern>-->
<!-- </filter-mapping>-->
<!-- end-->
 
<!-- Spring 刷新Introspector防止内存泄露 -->
<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
</listener>

<!--字符过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>

<listener>  
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>  
</listener>

<!-- 配置常见错误页面 -->
<error-page>
	<error-code>403</error-code>
	<location>/unauthorized.jsp</location>
</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/unauthorized.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/unauthorized.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/unauthorized.jsp</location>
	</error-page>
	<error-page>
		<exception-type>org.apache.shiro.authz.UnauthenticatedException</exception-type>
		<location>/unauthorized.jsp</location>
	</error-page>
	
	 <error-page>
        <error-code>401</error-code>
        <location>/unauthorized.jsp</location>
    </error-page>	
	
  <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
   </context-param>
   <context-param>
      <param-name>log4jRefreshInterval</param-name>
      <param-value>6000</param-value>
   </context-param>
	
    <listener>
      <listener-class>
        org.springframework.web.util.Log4jConfigListener
      </listener-class>
   </listener> 

  <!-- ===================================================================
 -  Filters
 -  =================================================================== -->


<!-- add to avoid "Write operations are not allowed in read-only mode (FlushMode.MANUAL)"" error -->
<filter> 
   <filter-name>openSessionInViewFilter</filter-name> 
   <filter-class> 
     org.springframework.orm.hibernate3.support.OpenSessionInViewFilter 
   </filter-class> 
   <init-param> 
    <param-name>sessionFactoryBeanName</param-name> 
    <param-value>sessionFactory</param-value> 
   </init-param> 
   <init-param> 
            <param-name>singleSession</param-name> 
            <param-value>true</param-value>            
        </init-param> 
        <init-param> 
	        <param-name> flushMode </param-name> 
	        <param-value>AUTO </param-value>         
        </init-param> 
</filter>


 <servlet-mapping>
	    <servlet-name>default</servlet-name>
	    <url-pattern>/resources/js/MDEditor/*</url-pattern>
     </servlet-mapping>

 <servlet>
  <servlet-name>spring</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>spring</servlet-name>
  <url-pattern>/</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/page/home.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 
 
 
 	 
	


    <!-- Shiro Filter is defined in the spring application context: -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>openSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
 <!-- <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>-->
</web-app>
